# macOS
.DS_Store

# Dependencies
**/node_modules/
.pnpm-store/

# Build output
**/dist/

# Environment variables
.env
**/.env
**/.env.*

# Expo
**/apps/mobile/.expo/

# TypeScript build info
**/*.tsbuildinfo
